In [1]:
import nltk

In [10]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\ganesh
[nltk_data]     duke\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [30]:
import pandas as pd
import numpy as np

In [28]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\ganesh
[nltk_data]     duke\AppData\Roaming\nltk_data...
[nltk_data] Error downloading 'punkt' from
[nltk_data]     <https://raw.githubusercontent.com/nltk/nltk_data/gh-
[nltk_data]     pages/packages/tokenizers/punkt.zip>:   <urlopen error
[nltk_data]     [Errno 11001] getaddrinfo failed>

False

In [4]:
st=PorterStemmer()
lem=WordNetLemmatizer()

In [14]:
print(st.stem('caring'))

care

In [19]:
lem.lemmatize('hi i am caring history')

'hi i am caring history'

In [23]:
stopwords=stopwords.words('english')

In [32]:
df=pd.read_csv('spam.csv',encoding='latin1')

In [33]:
df.shape

(5572, 5)

In [34]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [36]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [37]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [39]:
df.rename(columns={'v1':'y','v2':'x'},inplace=True)

In [40]:
df.head()

      y                                                  x
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [45]:
df.groupby('y').describe()

         x
     count unique                                                top freq
y
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [52]:
df['x'][1]

'Ok lar... Joking wif u oni...'

## Removing Special char

In [46]:
import re

In [56]:
def reg_ex(data):
    data1=(re.sub('[^a-zA-Z]',' ',data))
    return data1.lower()

In [58]:
df['x']=df['x'].apply(reg_ex)

In [59]:
df.head()

      y                                                  x
0   ham  go until jurong point  crazy   available only ...
1   ham                      ok lar    joking wif u oni
2  spam  free entry in   a wkly comp to win fa cup fina...
3   ham  u dun say so early hor    u c already then say
4   ham  nah i don t think he goes to usf  he lives aro...

## Stemming

In [60]:
def stem_data(data):
    return(st.stem(data))

In [62]:
df['x']=df['x'].apply(stem_data)

In [63]:
df.head()

      y                                                  x
0   ham  go until jurong point  crazy   available only ...
1   ham                      ok lar    joking wif u oni
2  spam  free entry in   a wkly comp to win fa cup fina...
3   ham  u dun say so early hor    u c already then say
4   ham  nah i don t think he goes to usf  he lives aro...

## Stopwords

In [87]:
def stop_words(data):
    data_split=data.split()
    stop=[i for i in data_split if i not in stopwords]
    return(' '.join(stop))

In [89]:
df['x1']=df['x'].apply(stop_words)

In [90]:
df.sample(10)

,y,x,x1
368,ham,wat uniform in where get,wat uniform get
2383,ham,your pussy is perfect,pussy perfect
4734,ham,oh k after that placement there ah,oh k placement ah
1490,ham,cant believe i said so many things to you this...,cant believe said many things morning really w...
12,spam,urgent you have won a week free membership ...,urgent week free membership prize jackpot txt ...
1836,ham,are you wet right now,wet right
1515,ham,i wonder if you ll get this text,wonder get text
2062,ham,is there any training tomorrow,training tomorrow
3067,ham,boy you best get yo ass out here quick,boy best get yo ass quick
931,ham,congratulations ore mo owo re wa enjoy it and...,congratulations ore mo owo wa enjoy wish many ...

In [93]:
df_new=df.drop(columns=['x'])

In [94]:
df_new.head()

      y                                                 x1
0   ham  go jurong point crazy available bugis n great ...
1   ham                            ok lar joking wif u oni
2  spam  free entry wkly comp win fa cup final tkts st ...
3   ham                u dun say early hor u c already say
4   ham             nah think goes usf lives around though

## Bag of words

In [95]:
from sklearn.feature_extraction.text import CountVectorizer

In [97]:
cv=CountVectorizer()

In [105]:
bow_all=cv.fit_transform(df_new['x1'])

In [106]:
bow_all.shape

(5572, 7701)

In [104]:
bow_all.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [125]:
print(bow_all)

  (0, 221)	1
  (0, 458)	1
  (0, 880)	1
  (0, 882)	1
  (0, 1173)	1
  (0, 1443)	1
  (0, 2669)	1
  (0, 2712)	1
  (0, 2751)	1
  (0, 3437)	1
  (0, 3557)	1
  (0, 4976)	1
  (0, 7318)	1
  (0, 7530)	1
  (1, 3404)	1
  (1, 3592)	1
  (1, 4570)	1
  (1, 4598)	1
  (1, 7433)	1
  (2, 311)	1
  (2, 1287)	1
  (2, 1502)	1
  (2, 2060)	2
  (2, 2200)	2
  (2, 2329)	1
  :	:
  (5567, 6789)	1
  (5567, 6942)	1
  (5568, 2091)	1
  (5568, 2467)	1
  (5568, 2679)	1
  (5568, 3002)	1
  (5569, 4205)	1
  (5569, 4915)	1
  (5569, 6451)	1
  (5570, 59)	1
  (5570, 691)	1
  (5570, 916)	1
  (5570, 2002)	1
  (5570, 2475)	1
  (5570, 2589)	1
  (5570, 2805)	1
  (5570, 3260)	1
  (5570, 3702)	1
  (5570, 4409)	1
  (5570, 6124)	1
  (5570, 7130)	1
  (5570, 7362)	1
  (5571, 4321)	1
  (5571, 5574)	1
  (5571, 6955)	1

## TF-IDF

In [108]:
from sklearn.feature_extraction.text import TfidfTransformer

In [109]:
tf=TfidfTransformer()

In [117]:
tf.fit(bow_all)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [122]:
tf_final=tf.fit_transform(bow_all)

In [123]:
tf_final.shape

(5572, 7701)

In [124]:
print(tf_final)

  (0, 7530)	0.23538379262173004
  (0, 7318)	0.1940555824210869
  (0, 4976)	0.2694892806940912
  (0, 3557)	0.2815719339705777
  (0, 3437)	0.347983518125998
  (0, 2751)	0.19222628714384543
  (0, 2712)	0.16313599678882137
  (0, 2669)	0.1568895551898232
  (0, 1443)	0.2694892806940912
  (0, 1173)	0.29397788230985195
  (0, 882)	0.29397788230985195
  (0, 880)	0.33218788223597356
  (0, 458)	0.26238661052980305
  (0, 221)	0.347983518125998
  (1, 7433)	0.4292215223191313
  (1, 4598)	0.5435747070473164
  (1, 4570)	0.2706192569078133
  (1, 3592)	0.40604781242504623
  (1, 3404)	0.5312116475115818
  (2, 7488)	0.21060381895305186
  (2, 7445)	0.16120209583738634
  (2, 7003)	0.13651375771378418
  (2, 6813)	0.24405048440835322
  (2, 6674)	0.13512176820734137
  (2, 6310)	0.21739730541437882
  :	:
  (5567, 937)	0.15208293442435633
  (5567, 867)	0.27766080169785035
  (5568, 3002)	0.3685970600783009
  (5568, 2679)	0.36412206387760393
  (5568, 2467)	0.5587922104641653
  (5568, 2091)	0.6475357869830205
  (5569, 6451)	0.6095307789831879
  (5569, 4915)	0.6095307789831879
  (5569, 4205)	0.5068968918274174
  (5570, 7362)	0.2025897008480066
  (5570, 7130)	0.23078397435495462
  (5570, 6124)	0.22401321921646836
  (5570, 4409)	0.22725969595166184
  (5570, 3702)	0.17310800614767927
  (5570, 3260)	0.30611916106982895
  (5570, 2805)	0.26084650946510063
  (5570, 2589)	0.2978497337416944
  (5570, 2475)	0.31647556311644776
  (5570, 2002)	0.2657002239130642
  (5570, 916)	0.30611916106982895
  (5570, 691)	0.3681006013587879
  (5570, 59)	0.3513918126745573
  (5571, 6955)	0.45784831530350095
  (5571, 5574)	0.6027734088988703
  (5571, 4321)	0.6534823162857439

## Train_Test

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
train_x,test_x,train_y,test_y=train_test_split(tf_final,df['y'], test_size=0.3,random_state=99)

In [131]:
train_x.shape

(3900, 7701)

In [132]:
test_x.shape

(1672, 7701)

## Model

In [133]:
from sklearn.metrics import accuracy_score

In [138]:
def model_sel(model,x,y):
    train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.25,random_state=99)
    model.fit(train_x,train_y)
    train_pred=model.predict(train_x)
    test_pred=model.predict(test_x)
    print('TRAIN ACCURACY ',accuracy_score(train_y,train_pred))
    print('Test ACCURACY ',accuracy_score(test_y,test_pred))

## Logistic

In [135]:
from sklearn.linear_model import LogisticRegression

In [136]:
log=LogisticRegression()

In [139]:
model_sel(log,tf_final,df['y'])

C:\Users\ganesh duke\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

TRAIN ACCURACY  0.9691313711414213
Test ACCURACY  0.9475951184493898

## Pipeline

In [141]:
from sklearn.pipeline import Pipeline

In [142]:
pipeline=Pipeline([
    ('bow', CountVectorizer(analyzer=reg_ex)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', LogisticRegression()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [144]:
pipeline.fit(df['x'],df['y'])

C:\Users\ganesh duke\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Pipeline(memory=None,
         steps=[('bow',
                 CountVectorizer(analyzer=<function reg_ex at 0x00000283845A8C80>,
                                 binary=False, decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',...
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='warn', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [146]:
predictions=pipeline.predict(df['x'])

In [147]:
accuracy_score(df['y'],predictions)

0.9219310839913855